* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.img-allstar {
  width: 250px;
  height: auto;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.product::after {
  content: "SALE";
  color: #f7f7f7;
  background-color: #be1111;
  position: absolute;
  top: -12px;
  left: -20px;
  display: inline-block;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 5px 10px;
}

.product-title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
  grid-column: 1/-1;
}

.product-info {
  display: inline-block;
  margin-top: 20px;
  flex: 1;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price {
  font-size: 22px;
  font-weight: bolder;
}

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.product-description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.boxes {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.box1 {
  width: 20px;
  height: 20px;
  background-color: black;
}

.box2 {
  width: 20px;
  height: 20px;
  background-color: blue;
}

.box3 {
  width: 20px;
  height: 20px;
  background-color: red;
}

.box4 {
  width: 20px;
  height: 20px;
  background-color: yellow;
}

.box5 {
  width: 20px;
  height: 20px;
  background-color: green;
}

.box6 {
  width: 20px;
  height: 20px;
  background-color: brown;
}

.product-details {
  display: inline-block;
  margin-top: 20px;
  flex: 1;
}

.details-title {
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}

.details-list {
  list-style-type: square;
  padding-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  grid-column: 1/-1;
}

.add-cart:hover {
  color: black;
  background-color: white;
  border-top: 4px solid black;
}
